* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  margin-block: 80px;
}

strong {
  color: #009966;
}

.intro-chunk {
  padding-inline: 16px;
}

.max-width-wrapper {
  max-width: 750px;
  min-width: 350px;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}

main > .max-width-wrapper {
  padding-block: 100px;
  margin-bottom: 0px;
}

.intro-chunk > p {
  width: 300px;
}

.intro-chunk > p:first-of-type {
  margin-top: 50px;
  width: 320px;
}

main {
  background-color: #666666;
  height: 80%;
}

.card {
  margin-block: 10px;
  margin-inline: auto;
  background-color: #ffffff;
  padding-block: 8px;
  padding-inline: 16px;
  border-bottom: 8px solid #999999;
}

.indented-heading {
  width: fit-content;
  border-bottom: 8px solid #cc9900;
  margin-inline: -32px;
  margin-block: 0;
  padding-block: 10px;
  padding-inline: 20px;
  background-color: #ffbf00;
}
